{{yield}}
<div class="select-style">
  <div class="selector-board">
    <div class="widget">Select cloth material</div>
    <div class="widget">Select cloth color</div>
    <div class="widget">Select ediyat pattern</div>
    <div class="widget">Select front design</div>
    <div class="widget">Select back design</div>
    <div class="widget">Select sleeve length</div>
  </div>
  <div {{bind-attr class=":card page"}}></div>
</div>
